@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <head>
        <title>Table</title>
    </head>
    <table border="1" width="200" height="200">
        <caption>Invoice</caption>
        <tr>
            <th>Sno</th>
            <th>Item</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Apple</td>
            <td>20</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Mango</td>
            <td>15</td>
        </tr>
    </table>
</div>
